.Graph-Page {

}

.Center-Pane {
    background:#FCFCFCFF;
    float:left;
    width:75%;
    height:800px;
}

.State-Info {
    position:fixed;
    top:140px;
    right:0;
    width:20%;
    height:300px;
}

.Left-Pane {
    float:left;
    width:20%;
    background-color: #EEEEEEFF;
    padding: 16px;
    text-align:left;
}

.Left-Pane textArea {
    width: 100%;
    height: 300px
}